@import "tailwindcss";

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
    letter-spacing: -0.01em;
  }
}

/* Custom crisp scrollbar for dense tables and horizontal navs */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
